<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>网页</title>
</head>

<body>
<p>
 你好，<%- usr%>！
</p>
<p>
物联网元件：
<ul>
<% 
  types.forEach (function(d) { 
 %>
  <li><%= d; %></li>
<% }); %>
</ul>
</body>
</html>